body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
  }
  /*header styling*/
  header {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    background-color: #00008b;
    color: #fff;
    padding: 10px;
    width: 100%;
    flex-wrap: wrap;
  }
  
  .logo img {
    max-height: 70px;
    margin-right: 20px;
    border: 50%;
    border-radius: 60%;
  }
  h2 {
    color: darkblue;
    text-align: center;
    transform: scale(1.1);
  }
  /*navbar section*/
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    text-align: center;
    margin: 0 10px;
  }
  nav a {
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
    font-size: 20px;
    margin-left: 0;
    margin-right: 0;
    text-decoration: none;
  }
  nav ul li a:hover{
    text-decoration: underline;
    transform: scale(1.1);
  }
  nav li.dropdown {
    cursor: pointer;
  }
  
  nav li.dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .dropdown i {
    margin-left: 5px;
    text-align: center;
    padding: 3px;
  }
  .dropdown-content a {
    color: #00008b;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 1000;
  }
  .dropdown-content {
    display: none;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  /*main section*/
  /* Hero Section */

.hero {
    background-image: url(./paper-bag-8557551_1280.jpg);
    background-position: center;
    height: 400px;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    background-size: cover;
    position: relative; 
  }

  .hero-content {
    text-align: center;
    color: black;
    font-weight: bolder;
    font-size: 25px;
    z-index: 1;
  }
  
  /* About Us Section */
  .about-us {
    padding: 40px;
    text-align: center;
    background-color: #f5f5f5;
    color: #333;
  }
  
  .about-us h2 {
    margin-bottom: 20px;
  }
  
  .about-us p {
    line-height: 1.5;
    color: #333;
    font-size: 24px;
    font-weight: bold;

  }
  

  /*button*/
  .btn {
    background-color: #00008b;
    color: #fff;
    text-decoration: none;
    align-self: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: auto;
  }

  /* Product Cards Section */
  .product-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
  }
  i {
    color: goldenrod;
    justify-content: space-around;
    align-items: center;
    display: flex;
    font-size: 20px;
    margin: 3px;
    padding-bottom: 10px;
  }
  .product-card {
    width: 300px;
    border: 1px solid #ccc;
    display: flex;
    padding: 20px;
    aspect-ratio: 1 / 1;
    text-align: center;
    border: 1px solid #ddd;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .product-card img {
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
  }
  .product-card i {
    justify-content: center;
    -bottom: 10px;
}
  .product-card img:hover {
    transform: scale(1.1);
  }
  .product-card p {
    font-size: 14px;
    color: #666;
  }

  /*contact form*/
  .contact-container {
    background-color: #01C2F9;
    width: 350px;
    margin: 0 auto;
    border-radius: 20px;
  }
  #contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  form {
    margin: 2rem;
    padding: 2rem;
  }
  
  #contact form input, #contact form textarea {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #333;
    border-radius: 5px;
  }
  
  #contact form button {
    background-color: #00008b;
    border-radius: 5px;
    color: #fff;
    border: none;
    font-weight: bold;
    padding: 15px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    padding: 20px;
    gap: 5px;
    margin-bottom: 10px;
  }
  
  #contact form button:hover {
    background-color: #fff;
    color: #00008b;
    transform: scale(1.1);
  }

  /*footer section*/
  footer p {
    color: #fff;
  }
  
  .footer {
   background-color: #00008b;
   color: #fff;
   text-align: center;
   padding: 15px;
   font-weight: bold;
   width: 100%;
   overflow-x: hidden;
   margin: auto;
  }
  
  /*links section*/
  .social-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    display: flex;
    background-color: #00008b;
    color: white;
  }
  .social-links li {
    margin: 0 10px;
   padding-bottom: 10px;
  }
  
  .social-links li i {
    color: #fff;
    position: relative;
    font-size: 20px;
    padding-top: 10px;
  }
  .social-links li i:hover {
  transform: scale(1.1);
  }
  .btn {
  color: #fff;
  padding: 20px;
  background-color: #00008b;
  border-radius: 5px;
  }
  .btn:hover {
  transform: scale(1.1);
  }
  .footer-container {
    display: flex;
    justify-content: center;
    margin: 20px;
    overflow: hidden;
    width: 100%;
  }
  .footer-container p{
    margin: 20px;
  }

  .icon-container {
    display: flex;
    flex-direction: row;

  }
/*media queries*/
@media (max-width: 600px) {
  .hero {
      height: 300px; 
  }
  .product-cards {
      grid-template-columns: 1fr; 
  }
  .contact-container {
      width: 90%; 
  }
}

@media (min-width: 1024px) {
  .logo img {
      max-height: 50px;
  }
  nav ul {
      flex-direction: row; 
  }
  .dropdown-content {
      position: static;
  }
}
@media (orientation: landscape) {
  .product-cards{
    width: 100%;
  }
}